@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --aubergine: rgb(43, 17, 73);
  --mustard: rgb(236, 170, 40);
  --off-white: rgb(255, 255, 255);
  --purple: rgb(132, 0, 148);
  --light-blue: rgb(209, 244, 251);
  --light-grey: rgb(232, 232, 232);
  --light-pink: rgb(239, 205, 237);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--off-white);
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  color: var(--aubergine);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* LANDING PAGE */

/* Web - landing */

.header {
  width: 100%;
  height: 100px;
  padding: 0 100px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aubergine);
}
.margin-top {
  margin-top: 100px;
}
.logo-div {
  width: 200px;
}

.logo {
  cursor: pointer;
}

.web-login-button {
  padding: 8px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  word-spacing: 1.5px;
  border: none;
}

.web-login-button:hover {
  color: var(--mustard);
}

.menu-item {
  color: var(--off-white);
  font-size: 1.2em;
  font-weight: 600;
  word-spacing: 1.5px;
}

/* About section */

.about-section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-div {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

#section-title-1 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 0.9999999999999999vw, 2.8rem);
}

.about-div1 {
  background: url("/illustrations/road-maps/road-pattern-v1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 125%;
  background-blend-mode: multiply; /* 'screen' is the original */
  background-color: var(--light-grey);
}

.about-div2 {
  background-color: var(--light-blue);
}

.about-div3 {
  background-color: var(--off-white);
}

.about-div4 {
  background: url("/illustrations/road-maps/road-pattern-v1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 0;
  background-position-y: 85%;
  background-size: 125%;
  background-blend-mode: screen;
  background-color: var(--light-pink);
  height: 600px;
}

.about-text {
  width: 30%;
  margin: 0 30px;
}

.about-text-title {
  font-size: 2em;
  display: flex;
  flex-direction: column;
}

.about-text-button {
  cursor: pointer;
  margin-top: 35px;
}

/* footer */

.landing-footer {
  height: 180px;
  background-color: var(--aubergine);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile - landing */

.landing-mobile {
  width: 100%;
  height: 100vh;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mob-about-div {
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mob-about-text {
  padding: 0 38px;
  /* text-align: center; */
}

.mob-about-text h2 {
  font-size: 1.6em;
  font-weight: 600;
}

.mob-about-text p {
  font-size: 0.85em;
}

.status-bar {
  margin-top: 30px;
  letter-spacing: 5px;
  font-size: 1.2em;
}

.grey-dot {
  color: rgb(204, 204, 204);
}

.landing-next-button {
  font-family: "Montserrat", sans-serif;
  width: 320px;
  padding: 10px 40px;
  margin-bottom: 20px;
  color: var(--off-white);
  background-color: var(--purple);
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  word-spacing: 1.5px;
  border: none;
}

.control-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 30px 0;
}

/* LOGIN PAGE */

.login-page {
  color: var(--off-white);
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/illustrations/road-maps/road-pattern-v3.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 75%;
  background-position-y: 40%;
  background-size: 210%;
  background-blend-mode: screen;
  background-color: var(--aubergine);
}

.login-logo-section {
  display: flex;
  flex-direction: column;
}

.login-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 70px;
}

.login-buttons {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 30px;
}

.login-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 8px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  word-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

.login-button:hover {
  color: var(--mustard);
}

.social-logo {
  font-size: 1.3em;
}

img {
  max-width: 500px;
}

/* GROUPS PAGE */

/* Group List */

.groups-main {
  padding: 0;
  margin: 0;
  width: 100%;
}

.group-list-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
  margin-top: 100px;
  background-color: var(--off-white);
}

.members-of-groups-div {
  margin-bottom: 100px;
}
.group-list-container {
  width: 100%;
  padding: 10px 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  row-gap: 25px;
}
.group-list-title {
  padding: 30px 0 0 1%;
  font-size: 1.5em;
}

.group-list-elem {
  width: 420px;
  height: 300px;
  background-color: var(--light-grey);
  list-style: none;
  border-radius: 10px;
}

.group-card-header {
  margin: 20px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 27px;
}

.group-card-header-title {
  width: 257px;
  display: flex;
  flex-direction: column;
}

.group-card-header-members {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-group-avatar {
  width: 120px;
  object-fit: cover;
  vertical-align: middle;
  height: 120px;
  border: 3px var(--mustard) solid;
  border-radius: 50%;
  background-color: var(--off-white);
}


/* ADD GROUP PAGE */

.add-new-group-container {
  margin-top: 100px;
}

/* PRODUCT PAGE */

.product-available {
  background-color: rgb(200, 242, 200);
}

.product-unavailable {
  background-color: rgb(243, 150, 150);
}


.group-name-title {
  margin: 4px 0;
  font-size: 1.1em;
}

.group-title-location {
  margin: 2px 0;
  font-size: 0.9em;
}

.open-group-button {
  cursor: pointer;
  padding: 10px 13px;
  height: fit-content;
  color: var(--off-white);
  background-color: var(--aubergine);
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  border-radius: 20px;
  word-spacing: 1.5px;
  border: none;
}

.open-group-button:hover {
  color: var(--mustard);
}

.groups-list-members {
  padding: 0;
  width: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.groups-list-member {
  list-style: none;
  padding: 0;
  margin: 0;
}

.groups-list-members-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--off-white);
}

.group-list-products-container h4 {
  margin: 10px 0 7px 0;
  padding-left: 25px;
  font-size: 0.95em;
  font-weight: 600;
}

.groups-list-products {
  padding: 0 25px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.groups-list-product {
  list-style: none;
}

.groups-list-products-image {
  width: 87px;
  height: 87px;
  object-fit: cover;
  vertical-align: middle;
  background-color: var(--off-white);
  border-radius: 7px;
}

.add-button-container {
  position: fixed;
  top: 120px;
  right: 90px;
}

.add-new-group-button {
  cursor: pointer;
  padding: 13px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 30px;
  word-spacing: 1.3px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.add-new-group-button:hover {
  color: var(--mustard);
}

.add-new-icon {
  font-size: 1.3em;
}

/* PRODUCT UPLOAD PAGE */

.add-new-product-button {
  cursor: pointer;
  padding: 13px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 30px;
  word-spacing: 1.3px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.add-new-product-button:hover {
  color: var(--mustard);
}

.upload-section {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  padding: 10px 0px;
  background: url(../public/illustrations/road-maps/road-pattern-v1.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 40%;
  background-position-y: 80%;
  background-size: 200%;
  background-blend-mode: screen;
  background-color: var(--light-pink);
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
  width: 100%;
  padding: 3% 10%;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-div label {
  font-size: 1em;
  font-weight: 500;
  padding-left: 20px;
}

.form-div input {
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  color: var(--aubergine);
  background-color: var(--off-white);
  border: 1px solid var(--mustard);
  border-radius: 20px;
}

.form-div textarea {
  padding: 15px 20px;
  height: 110px;
  font-family: "Montserrat", sans-serif;
  color: var(--aubergine);
  background-color: var(--off-white);
  border: 1px solid var(--mustard);
  border-radius: 30px;
}

.upload-form button {
  cursor: pointer;
  align-items: center;
  padding: 12px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  word-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

.upload-form button:hover {
  color: var(--mustard);
}

.form-div button {
  cursor: pointer;
  padding: 5px 40px;
  color: var(--off-white);
  background-color: var(--mustard);
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  word-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

.form-div button:hover {
  color: var(--aubergine);
}

.img-preview {
  width: 120px;
  object-fit: cover;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-div-avatar {
  padding: 15px 20px;

  font-family: "Montserrat", sans-serif;
  color: var(--aubergine);
  background-color: var(--off-white);
  border: 1px solid var(--mustard);
  border-radius: 30px;
}

/* CHAT PAGE */

.chat-container {
  margin-top: 100px;
}

.conversation-avatar {
  width: 80px;
}

/* Media Queries for Standard Devices */

/* ----------- iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .group-list-container {
    width: 510px;
    justify-content: center;
  }

  .add-button-container {
    position: fixed;
    bottom: 80px;
    right: 80px;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .group-list-container {
    width: 850px;
    justify-content: center;
  }
  .add-button-container {
    position: fixed;
    bottom: 80px;
    right: 80px;
  }
}
