@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --aubergine: rgb(43, 17, 73);
  --mustard: rgb(236, 170, 40);
  --off-white: rgb(255, 255, 255);
  --purple: rgb(132, 0, 148);
  --light-blue: rgb(209, 244, 251);
  --light-grey: rgb(232, 232, 232);
  --light-pink: rgb(239, 205, 237);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--off-white);
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  color: var(--aubergine);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* LAYOUT */

/* Navigation */

.mobile-margin {
  margin-top: 0px;
  padding-bottom: 80px;
}
.web-margin {
  margin-top: 100px;
}

.navigation-web {
  padding-left: 250px;
  padding-right: 0;
}

.menu-item {
  color: var(--off-white);
  font-size: 1.1em;
  font-weight: 400;
  word-spacing: 1.5px;
  padding: 0 40px;
}

.menu-item:hover {
  color: var(--light-pink);
}

/* Navigation Mobile */

.navigation-mobile {
  width: 100%;
  /* 390px */
  height: 80px;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.mobile-menu-item {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--aubergine);
}

.mobile-menu-icon {
  font-size: 2.3em;
}

/* LANDING PAGE */

/* Web - landing */

.header {
  width: 100%;
  height: 100px;
  padding: 0 100px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aubergine);
}

.margin-top {
}

.logo-div {
  width: 200px;
}

.logo {
  cursor: pointer;
}

.web-login-button {
  cursor: pointer;
  padding: 8px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  word-spacing: 1.5px;
  border: none;
}

.web-login-button:hover {
  color: var(--mustard);
}

/* About section */

.about-section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-div {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

#section-title-1 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 0.9999999999999999vw, 2.8rem);
}

.about-div1 {
  background: url("/illustrations/road-maps/road-pattern-v1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 125%;
  background-blend-mode: multiply;
  /* 'screen' is the original */
  background-color: var(--light-grey);
}

.about-div2 {
  background-color: var(--light-blue);
}

.about-div3 {
  background-color: var(--off-white);
}

.about-div4 {
  background: url("/illustrations/road-maps/road-pattern-v1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 0;
  background-position-y: 85%;
  background-size: 125%;
  background-blend-mode: screen;
  background-color: var(--light-pink);
  height: 600px;
}

.about-text {
  width: 30%;
  margin: 0 30px;
}

.about-text-title {
  font-size: 2em;
  display: flex;
  flex-direction: column;
}

.about-text-button {
  cursor: pointer;
  margin-top: 35px;
}

/* footer */

.landing-footer {
  height: 180px;
  background-color: var(--aubergine);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile - landing */

.landing-mobile {
  width: 100%;
  height: 100vh;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mob-about-div {
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mob-about-text {
  padding: 0 38px;
  /* text-align: center; */
}

.mob-about-text h2 {
  font-size: 1.6em;
  font-weight: 600;
}

.mob-about-text p {
  font-size: 0.85em;
}

.status-bar {
  margin-top: 30px;
  letter-spacing: 5px;
  font-size: 1.2em;
}

.grey-dot {
  color: rgb(204, 204, 204);
}

.landing-next-button {
  font-family: "Montserrat", sans-serif;
  width: 320px;
  padding: 10px 40px;
  margin-bottom: 20px;
  color: var(--off-white);
  background-color: var(--purple);
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  word-spacing: 1.5px;
  border: none;
}

.control-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 30px 0;
}

/* LOGIN PAGE */

.login-page {
  color: var(--off-white);
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/illustrations/road-maps/road-pattern-v3.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 75%;
  background-position-y: 40%;
  background-size: 210%;
  background-blend-mode: screen;
  background-color: var(--aubergine);
}

.login-logo-section {
  display: flex;
  flex-direction: column;
}

.login-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 70px;
}

.login-buttons {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 30px;
}

.login-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 8px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  word-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

.login-button:hover {
  color: var(--mustard);
}

.social-logo {
  font-size: 1.3em;
}

img {
  max-width: 500px;
}

/* GROUPS PAGE */

/* Group List */

.groups-main {
  padding: 0;
  margin: 0;
  width: 100%;
}

.group-list-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
  background-color: var(--off-white);
}

.members-of-groups-div {
  margin-bottom: 100px;
}

.group-list-container {
  width: 100%;
  padding: 10px 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  row-gap: 25px;
}

.group-list-title {
  padding: 30px 0 0 1%;
  font-size: 1.5em;
}

.group-list-elem {
  width: 420px;
  height: 300px;
  background-color: var(--light-grey);
  list-style: none;
  border-radius: 10px;
}

.group-card-header {
  margin: 20px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 27px;
}

.group-card-header-title {
  width: 257px;
  display: flex;
  flex-direction: column;
}

.group-card-header-members {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-group-avatar {
  width: 120px;
  object-fit: cover;
  vertical-align: middle;
  height: 120px;
  border: 3px var(--mustard) solid;
  border-radius: 50%;
  background-color: var(--off-white);
}

/* ADD GROUP PAGE */

.add-new-group-container {
}

/* PRODUCT PAGE */

.product-available {
  background-color: rgb(200, 242, 200);
}

.product-unavailable {
  background-color: rgb(243, 150, 150);
}

.group-name-title {
  margin: 4px 0;
  font-size: 1.1em;
}

.group-title-location {
  margin: 2px 0;
  font-size: 0.9em;
}

.open-group-button {
  cursor: pointer;
  padding: 10px 13px;
  height: fit-content;
  color: var(--off-white);
  background-color: var(--aubergine);
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  border-radius: 20px;
  word-spacing: 1.5px;
  border: none;
  z-index: 10;
}

.open-group-button:hover {
  color: var(--mustard);
}

.groups-list-members {
  padding: 0;
  width: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.groups-list-member {
  list-style: none;
  padding: 0;
  margin: 0;
}

.groups-list-members-avatar {
  max-width: 35px;
  max-height: 35px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--off-white);
}

.group-list-products-container h4 {
  margin: 10px 0 7px 0;
  padding-left: 25px;
  font-size: 0.95em;
  font-weight: 600;
}

.groups-list-products {
  padding: 0 25px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.groups-list-product {
  list-style: none;
}

.groups-list-products-image {
  width: 87px;
  height: 87px;
  object-fit: cover;
  vertical-align: middle;
  background-color: var(--off-white);
  border-radius: 7px;
}

.add-button-container {
  position: fixed;
  top: 120px;
  right: 90px;
}

.add-new-group-button {
  z-index: 5;
  cursor: pointer;
  padding: 13px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 30px;
  word-spacing: 1.3px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.add-new-group-button:hover {
  color: var(--mustard);
}

.add-new-icon {
  font-size: 1.3em;
}

/* PRODUCT UPLOAD PAGE */

.add-new-product-button {
  cursor: pointer;
  padding: 13px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 30px;
  word-spacing: 1.3px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.add-new-product-button:hover {
  color: var(--mustard);
}

.upload-section {
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
  background: url(../public/illustrations/road-maps/road-pattern-v1.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 40%;
  background-position-y: 80%;
  background-size: 200%;
  background-blend-mode: screen;
  background-color: var(--light-pink);
}

.upload-section h2 {
  text-align: center;
  font-size: 1.5em;
}

.forms-div {
  width: 390px;
  background-color: rgba(43, 17, 73, 0.05);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
  width: 100%;
  padding: 3% 10%;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-div label {
  font-size: 1em;
  font-weight: 500;
  padding-left: 20px;
}

.form-div input {
  max-width: 500px;
  width: 320px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  color: var(--aubergine);
  background-color: var(--off-white);
  border: 1px solid var(--mustard);
  border-radius: 20px;
}

.form-div textarea {
  max-width: 500px;
  width: 320px;
  padding: 15px 20px;
  height: 110px;
  font-family: "Montserrat", sans-serif;
  color: var(--aubergine);
  background-color: var(--off-white);
  border: 1px solid var(--mustard);
  border-radius: 30px;
}

.upload-form button {
  max-width: 500px;
  width: 320px;
  cursor: pointer;
  align-items: center;
  padding: 12px 40px;
  color: var(--off-white);
  background-color: var(--aubergine);
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  word-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

.upload-form button:hover {
  color: var(--mustard);
}

.form-div button {
  cursor: pointer;
  max-width: 500px;
  width: 320px;
  padding: 5px 40px;
  color: var(--off-white);
  background-color: var(--mustard);
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  word-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

.form-div button:hover {
  color: var(--aubergine);
}

.img-preview {
  width: 100px;
  object-fit: cover;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--mustard);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-div-avatar {
  padding: 15px 20px;
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  color: var(--aubergine);
  background-color: var(--off-white);
  border: 1px solid var(--mustard);
  border-radius: 30px;
}

#group-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 270px;
}

.back-to-pages-button {
  cursor: pointer;
  width: 200px;
  padding: 7px 20px;
  color: var(--off-white);
  background-color: var(--purple);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 30px;
  word-spacing: 1.3px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.bullet-inputs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-evenly;
}

.bullet-inputs label {
  font-weight: 500;
}

#select-category-label {
  font-size: 1em;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 0;
}

.select-input-field {
  max-width: 500px;
  width: 320px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  color: var(--aubergine);
  background-color: var(--off-white);
  border: 1px solid var(--mustard);
  border-radius: 20px;
}

/* GROUP ID PAGE */

.group-id-section {
  background-color: var(--light-grey);
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.group-page-avatar {
  margin-top: 50px;
  width: 120px;
  object-fit: cover;
  vertical-align: middle;
  height: 120px;
  border: 3px var(--mustard) solid;
  border-radius: 50%;
  background-color: var(--off-white);
}

.group-id-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.group-id-title h2 {
  font-size: 1.3em;
  font-weight: 600;
}

#group-id-desc {
  font-style: italic;
  font-size: 0.9em;
}

.group-page-members {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.group-page-member {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group-page-members-avatar {
  max-width: 120px;
  max-height: 120px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--off-white);
}

.see-more-button {
  margin-bottom: 60px;
  max-width: 120px;
  max-height: 120px;
  width: 70px;
  height: 70px;
  background-color: var(--off-white);
  border-radius: 50%;
}

.see-more-button p {
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.products-div {
  width: 100%;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.products-div li {
  background-color: var(--off-white);
  list-style: none;
  cursor: pointer;
  border: 2px var(--mustard) solid;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
}

.products-div img {
  cursor: pointer;
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 10px;
}

.products-div p {
  text-transform: uppercase;
  font-weight: 600;
}

.join-grpup {
  cursor: pointer;
  padding: 8px 40px;
  color: var(--off-white);
  background-color: var(--purple);
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  word-spacing: 1.5px;
  border: none;
}

/* CHAT PAGE */

.chat-product-header {
  width: 100%;
  background-color: var(--off-white);
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
}

.chat-container {
  width: 500px;
  background-color: var(--light-grey);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 100px;
}

.chat-background {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.583);
  margin: 0 20px;
  padding: 0 0;
  border-radius: 20px;
  border: 2px solid var(--purple);
}

.messages-in-chat {
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  height: 500px;
  overflow: scroll;
  background-color: transparent;
}

.message-sender {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chat-list-mes {
  list-style: none;
}

.message {
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
}

.mess-date {
  font-size: 0.8em;
  text-align: right;
  font-style: 400;
}
.message-sender img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--off-white);
}

.chat-container h2 {
  margin-left: 50px;
}
.chat-container h3 {
  margin-top: 60px;
  margin-left: 50px;
}

.all-messages-div {
  font-weight: 600;
  color: var(--aubergine);
}

.all-messages-div a {
  color: var(--aubergine);
}

.conv-list {
  list-style: none;
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 8px;
  padding-left: 40px;
  border: 1.5px solid var(--purple);
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 0.819);
}

.conversation-container {
  display: flex;
  flex-direction: column;
}

.conversation-product-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-transform: uppercase;
  color: var(--purple);
}

.conversation-avatar {
  max-width: 100px;
  max-height: 100px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--off-white);
  border: 2px solid var(--aubergine);
}

.chat-avatar {
  max-width: 100px;
  max-height: 100px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--off-white);
  border: 2px solid var(--aubergine);
}

/* Media Queries for Standard Devices */

/* ----------- iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .group-list-container {
    width: 510px;
    justify-content: center;
  }

  .add-button-container {
    position: fixed;
    bottom: 80px;
    right: 80px;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .group-list-container {
    width: 850px;
    justify-content: center;
  }

  .add-button-container {
    position: fixed;
    bottom: 80px;
    right: 80px;
  }
}
